Repository spack/spack-gantry, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docs

Add dependabot config to automatically bump dependencies in CI (#22)
  .github/dependabot.yml
Labels: ci

provides a mechanism for database initialization within the container image
  Dockerfile
  db/init_db.py
  db/schema.sql
Labels: none

only create file if it doesn't exist yet
  db/init_db.py
Labels: none

rootless -> root container because of Litestream permissions issues
  Dockerfile
Labels: none

clarify insert/race condition error message
  gantry/clients/db/insert.py
Labels: none

clarify node message
  gantry/clients/db/insert.py
Labels: none

init db within __main__.py instead of outside script
  Dockerfile
  db/init_db.py
  gantry/__main__.py
Labels: none

1
  gantry/prediction.py
Labels: none

first prediction functionality
  gantry/prediction.py
Labels: none

add basic routing
  gantry/routes/prediction.py
  gantry/views.py
Labels: none

check whether predictions are lower than current allocation
  gantry/routes/prediction/__init__.py
  gantry/routes/prediction/current_mapping.py
  gantry/routes/prediction/prediction.py
  gantry/views.py
Labels: none

fix some bugs
  gantry/routes/prediction/current_mapping.py
  gantry/routes/prediction/prediction.py
  gantry/views.py
Labels: none

adjust conversions
  gantry/routes/prediction/prediction.py
Labels: none

readability
  gantry/routes/prediction/prediction.py
  gantry/util/k8s.py
Labels: none

no black current_mapping
  gantry/routes/prediction/current_mapping.py
Labels: none

allocate -> allocation
  gantry/views.py
Labels: none

use GET endpoint rather than POST for allocation
  gantry/__main__.py
  gantry/views.py
Labels: none

simplify validation logic
  gantry/views.py
Labels: none

bulk predictions run in parallel
  gantry/routes/prediction/prediction.py
Labels: none

fmt changes
  gantry/__main__.py
  gantry/views.py
Labels: none

cpu units now in cores rather than millicores
  gantry/routes/prediction/prediction.py
  gantry/util/k8s.py
Labels: none

request limit 8MB
  gantry/__main__.py
Labels: none

add variant filtering
  gantry/routes/prediction/prediction.py
  gantry/views.py
Labels: none

small fixes
  gantry/routes/prediction/prediction.py
Labels: none

updated standard allocations
  gantry/routes/prediction/current_mapping.py
Labels: none

Re-write the variant filtering logic.
  gantry/routes/prediction/prediction.py
Labels: none

formatting 😵‍💫
  gantry/routes/prediction/current_mapping.py
Labels: none

formatting
  gantry/routes/prediction/current_mapping.py
  gantry/util/k8s.py
Labels: none

remove unnecessary comment [ci skip]
  gantry/routes/prediction/prediction.py
Labels: none

logging -> logger usage
  gantry/routes/prediction/prediction.py
Labels: none

move validate payload for prediction into util for easier testing
  gantry/util/prediction.py
  gantry/views.py
Labels: none

make a couple changes to prediction to make testing easier
  gantry/routes/prediction/prediction.py
Labels: none

remove bulk prediction functionality
  gantry/routes/prediction/prediction.py
  gantry/util/prediction.py
  gantry/views.py
Labels: none

fix: remove unnecessary condition in validate_payload
  gantry/util/prediction.py
Labels: none

fix: remove custom GET length, 8K is sufficient for one url-encoded json spec
  docs/deploy.md
  gantry/__main__.py
Labels: docs

fix: remove hash from GET payload
  gantry/routes/prediction/prediction.py
  gantry/util/prediction.py
  gantry/views.py
Labels: none

fix: update docstring for allocation view
  gantry/views.py
Labels: none

allocation API now accepts spec string rather than JSON payload
  gantry/routes/prediction/prediction.py
  gantry/util/prediction.py
  gantry/util/spec.py
  gantry/views.py
Labels: none

formatting fixes
  gantry/util/spec.py
Labels: none

formatting fixes
  gantry/routes/prediction/prediction.py
  gantry/util/spec.py
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/requirements/**
    - requirements.txt
    - pyproject.toml

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - README.md
